# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Ambientes virtuais
venv/
.venv/
env/

# Variáveis de ambiente
.env

# Banco de dados local
*.db
*.sqlite3

# IDEs e sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
